<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css.css' %}?{% now 'U' %}">

    <link rel="icon" type="image/png" href="{% static 'todo/logorgb.png' %}">

    <title>Todo App</title>
</head>

<body>


    <nav class="navbar navbar-expand-md navbar navbar-light ">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'todo/logorgb.png' %}" width="30" height="30" class="d-inline-block align-top">
                <span> <b>Todo App</b> </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if user.is_authenticated %}
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item {{ current }}">
                        <a class="nav-link text-dark" href="{% url 'currenttodos' %}"> <b>Current</b> </a>
                    </li>
                    <li class="nav-item {{ completed }}">
                        <a class="nav-link text-dark" href="{% url 'completedtodos' %}"> <b>Completed</b> </a>
                    </li>
                    <li class="nav-item {{ create }}">
                        <a class="nav-link text-dark" href="{% url 'createtodo' %}"> <b>Create</b></a>
                    </li>

                </ul>
                {% endif %}
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#" onclick="$('#signOutBtn').click()" class="nav-link font-weight-bold"> <b> Logout</b>
                        </a>
                        <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
                            {% csrf_token %}
                            <button id="signOutBtn" type="submit text-dark">Logout</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'signupuser' %}"> <b>Sign Up</b> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'loginuser' %}"> <b>Login</b> </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        {% block content %}{% endblock %}
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>



{% comment %}

<!-- el usuario siempre lo pasa django,
osea que siempre tenemos un diccionario con el usuario -->
{% if user.is_authenticated %}
Looged In as {{user.username}}

<a href="{% url 'createtodo' %}">Create</a>
<a href="{% url 'currenttodos' %}">Curent</a>
<a href="{% url 'completedtodos' %}">Completed</a>

<!-- cuando haga click en logout y tengo que tener un POST
, tengo que especifcar que pasa en esta situacion -->
<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
    <button type='submit'>Log Out</button>
</form>

{% else %}
<a href="{% url 'signupuser' %}">Sign Up</a>
<a href="{% url 'loginuser' %}">Login</a>

{% endif %}
{% block content %}
{% endblock content %} {% endcomment %}